.header {
	padding: 1em 2em .5em;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	background: linear-gradient(to bottom, #fff 0%,#f7f7f7 100%);
	border-bottom: 1px solid #A9D8F7;
}
.header a {
	display: inline-block;
	padding: .2em .3em;
}
.Projects {
	padding: 8em 2em;
	border-bottom: none;
	list-style-type: none;
}
