.Project {
	margin: 0;
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-bottom: none;
}
.Project:last-child {
	border-bottom: 1px solid #ddd;
}
.Project h4 {
	margin: 0;
	padding: .7em 1em;
	cursor: pointer;
}
.named-anchor {
	display: block;
	margin-top: -7.8em;
	height: 7.8em;
	visibility: hidden;
	pointer-events: none;
}
